.ItkOverlayControls, .ItkPopupWidget{
    padding: 10px;
    border-radius: 3px;
    font-family: helvetica;
    background-color: rgb(239 239 239);
    margin-bottom: 5px;
    color: black
}

.ItkCollapsableApplet{
    font-family: helvetica;
    background-color: rgb(239 239 239);
    color: black;
    border-bottom: solid 2px black;
    padding-left: 0px;
}

.ItkCollapsableApplet > *{
    margin-left: 8px;
}

.ItkCollapsableApplet summary{
    margin-left: 0px;
    font-weight: bolder;
    background-color: rgba(0,0,0, 15%);
    padding: 5px;
}

.ItkOverlayControls{
    padding: 0px;
    position: fixed;
    resize: both;
    overflow: scroll;
    filter: drop-shadow(10px 10px 4px rgba(0,0,0, 0.3));
    max-width: 30em;
    max-height: 80vh;
}

.ItkOverlayControls_header{
    margin: 0;
    padding: 0.3em;
    color: white;
    background-color: black;
    font-size: 15px;
    position: sticky;
    top: 0
}

.ItkOverlayControls_drag_handle{
    color: white;
    font-size: 1.0em;
}

.ItkSessionCreatorWidget form, .ItkSessionLoaderWidget form{
    padding-left: 2em;
}

.ItkSessionCreatorWidget_status-messages{
    height: 6em;
    resize: both;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 10%);
    padding: 5px;
}

.ItkSessionCreatorWidget_status-messages p{
    margin-top: 2px;
    margin-bottom: 2px;
}

.ItkFeatureSelectionWidget td, .ItkFeatureSelectionWidget th, .ItkTable td, .ItkTable th{
    border: solid 1px grey;
    padding: 0.3em;
}

.ItkBrushingWidget_status_display{
    border: dashed 1px grey;
    background-color: rgba(0,0,0, 0.1);
    padding: 0.2em;
    max-width: 30em;
    overflow: scroll;
}

.ItkBrushStrokesContainer{
    /* background-color: rgba(0,0,0, 0.1); */
}

.ItkLabelWidget{

}

.ItkPencilCursor{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAdklEQVRIie3SwQmAMAxG4TeCo3QkR3EER3Aj3cAR2g3qJaURevzbUwI5iPA9CIWYBXMBL5Bm4dU2qyMNL8Cjjng8AZuL3Cq87W6RbN+nAi/Awf/+1f5L8HZnH5Hj/iyBB74Ih/6mp+A+MAX3Ab8yfBSQ4jHD+QAU2l7EdHJYSwAAAABJRU5ErkJggg==) 3 20, auto;
}

.ItkBrushStrokeTableCaption{
    color: grey;
    font-style: italic;
}

.ItkBrushStrokeWidget td{
    padding: 0.4em;
    background-color: rgba(0,0,0, 0.1);
}

.ItkSelector{
    background-color: rgba(0,0,0, 0.1);
}

/*https://stackoverflow.com/a/21457838*/
.ItkGrayedOut {
    position: relative;
    color: gray;
    pointer-events: none;
}

.ItkGrayedOut::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.ItkButton{
    border: solid 1px gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
    user-select: none;
}

.ItkButton:active{
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.ItkInputParagraph{
    display: flex;
}

.ItkInputParagraph label{
    margin-left: 5px;
    margin-right: 5px;
}

.ItkInputParagraph input[type=text], .ItkInputParagraph input[type=url]{
    flex-grow: 1; /*make input stretch to occupy all remaining space*/
}

.ItkInputParagraph input[type=number]{
    width: 4em;
}

.ItkErrorText{
    font-style: italic;
    color: red;
}

.ItkSuccessText{
    font-style: italic;
    color: green;
}

.ItkInfoText{
    font-style: italic;
    color: grey;
}

.ItkInfoText img, .ItkErrorText img{
    height: 1em;
    width: 1em;
}

.ItkNumberInput{
    width: 3em;
}

input[type=button], input[type=submit], .ItkPopupSelectTrigger{
    font-weight: bold;
    border-radius: 2px;
    margin-left: 2px;
}

.ItkPopupSelectTrigger{
    border: solid 1px black;
    padding: 4px;
    cursor: default;
}

.ItkBrushStrokeTable{
    margin-left: 10px;
}

