/* hide neuroglancer's buttons */
.neuroglancer-viewer-top-row div[title="Show layer list panel"],
.neuroglancer-viewer-top-row div[title="Show selection details panel"],
.neuroglancer-viewer-top-row div[title="Show layer side panel"]{
    display: none;
}

:root{
    --default-font-family: helvetica;
    --default-info-font-style: italic;
    --default-info-color: grey;
    --default-font-size: 14px;
    --default-background-color: white;
    --default-title-bar-background-color: #eeeeee;
    --default-text-color: black;
    --default-highlight-color: #a02e00;
    --default-highlight-bright-color: #c63902;
    --default-highlight-dark-color: #702101;
    --default-error-color: #ff0000;
    --default-border-radius: 3px;
    --default-border: solid 1px var(--default-highlight-color);
    --default-button-text-color: white;
    --default-button-border-thickness: 2px;
    --default-button-height: 2.5em;
    --default-button-font-size: 14px;
    --default-content-padding: 10px;
    --default-title-bar-padding: 5px;
    --default-log-font-family: "Courier New";
    --default-log-font-size: calc(var(--default-font-size) - 2px);
}

.ItkPencilCursor{
    cursor: url(/public/images/pencil.png) 1 47, auto;
}

/* This is required for neuroglancer since the NG container is a direct child of body*/
body{
    display: flex;
    flex-direction: row;
}

.ItkContainerForWebilastikControls{
    display: inline-flex;
}


.ItkErrorText{
    color: var(--default-error-color);
}

.ItkInfoText{
    color: var(--default-info-color);
    font-style: var(--default-info-font-style);
}

.ItkEmphasisText{
    font-weight: bold;
}

.ItkPopupWidget{
    font-family: var(--default-font-family);
    background-color: var(--default-background-color);
    color: var(--default-text-color);
}

.ItkPopupContents{
    padding: var(--default-content-padding);
}

.ItkOverlayControls{
    font-family: var(--default-font-family);
    padding: 0;
    background-color: var(--default-background-color);
    color: var(--default-text-color);
    resize: horizontal;
    overflow: auto;
    max-width: 30em;
    user-select: none;
}

.ItkTable{
    border-collapse: collapse;
}
.ItkTable td, .ItkTable th{
    border: var(--default-border);
    padding: 0.2em;
}

.ItkTitleBar{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: var(--default-title-bar-background-color);
    padding: var(--default-title-bar-padding);
    font-weight: bold;
}

.ItkTitleBar .ItkTitleBarText{
    flex-grow: 1;
    font-size: calc(var(--default-font-size) + 1px);
}

.ItkCollapsableApplet .ItkAppletContents{
    padding-left: 3px;
    padding-right: 3px;
}

details.ItkCollapsableApplet[open] .ItkTitleBar::before{
    transform: rotate(90deg);
}

details.ItkCollapsableApplet .ItkTitleBar::before{
    content: "▶";
    margin-right: 1em;
}

.ItkCollapsableApplet > .ItkTitleBar{
    cursor: pointer;
}

.ItkCollapsableAppletExtraInfoSpan{
    color: grey;
    font-weight: normal;
    margin-left: 1em;
    margin-right: 0.1em;
}

.ItkOverlayControlsHeader{
    font-size: calc(var(--default-font-size) + 1px);
    color: white;
    background-color: black;
}

.ItkButton{
    margin-left: 0.5ex;
    padding: 0.3em;
    display: inline-block;
    box-sizing: border-box;
    font-size: var(--default-button-font-size);
    color: var(--default-button-text-color);;
    background-color: var(--default-highlight-color);
    border-radius: var(--default-border-radius);
    border-top: solid var(--default-button-border-thickness) var(--default-highlight-bright-color);
    border-left: solid var(--default-button-border-thickness) var(--default-highlight-bright-color);
    border-bottom: solid var(--default-button-border-thickness) var(--default-highlight-dark-color);
    border-right: solid var(--default-button-border-thickness) var(--default-highlight-dark-color);
    cursor: default;
}

.ItkButton[type="color"]{
    padding: 0;
    border: 0;
}

.ItkButton:hover:not(.ItkDisabled):not(disabled){
    filter: brightness(1.1)
}

.ItkButton:active:not(.ItkDisabled):not(disabled), .ItkButtonDepressed:not(.ItkDisabled):not(disabled){
    border-top: solid var(--default-button-border-thickness) #300e00;
    border-left: solid var(--default-button-border-thickness) #300e00;
    /*FIXME: use global CSS variables instead of hardcoding here*/
    box-shadow: inset 3px 3px 4px 0px rgb(0 0 0 / 45%);
    border-bottom: solid var(--default-button-border-thickness) #a53000;
    border-right: solid var(--default-button-border-thickness) #a53000;
}

.ItkRecenterButton{
    position: fixed;
    bottom: 10px;
    z-index: 99999;
    right: 10px;
}

.ItkColorPicker{
    width: 2em;
    height: 2em;
}

.ItkCharacterInput{
    margin-left: 0.5ex;
    padding: 0.3em;
    font-size: var(--default-button-font-size);
    color: var(--default-text-color);;
    background-color: var(--default-background-color);
    border-radius: var(--default-border-radius);
    border: solid var(--default-button-border-thickness) var(--default-highlight-color);
}

input[type=text]:invalid, input[type=url]:invalid{
    background-color: #ffc9c9;
}

.ItkAxisLengthField{
    flex-grow: 1;
    white-space: nowrap;
}

.ItkAxisLengthField .ItkCharacterInput{
    width: 4em;
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
.ItkAxisLengthField input.ItkCharacterInput::-webkit-outer-spin-button,
.ItkAxisLengthField input.ItkCharacterInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ItkDisabled{
    filter: grayscale(70%);
    opacity: 0.5;
}

.ItkSelectButton:after{
    content:" ⬍";
}

.ItkBrushDatasourceLink{
/*   white-space: nowrap; */
/*   overflow: hidden; */
/*   text-overflow: ellipsis; */
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 0.2em;
    opacity: 0.5;
}

.ItkPopupWidget{
    position: fixed;
    z-index: 100000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
}

.ItkInputParagraph, .ItkBrushStrokeWidget{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.ItkInputParagraph > .ItkCharacterInput, .ItkBrushStrokeCoords{
    flex-grow: 1;
    margin-left: 1ex;
}

.ItkBrushStrokeCoords{
    font-family: "Courier New";
    font-size: calc(var(--default-font-size) - 2px);
}

.ItkBrushStrokeWidget{
    margin: 0.1em;
    padding-left: 1em;
}

/*https://stackoverflow.com/a/21457838*/
.ItkGrayedOut {
    position: relative;
    color: gray;
    pointer-events: none;
}

.ItkGrayedOut::after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
}

.ItkTabBodyContainer{
    border-left: solid 2px var(--default-highlight-color);
    border-right: solid 2px var(--default-highlight-color);
    border-bottom: solid 2px var(--default-highlight-color);
    padding: var(--default-content-padding);
    overflow: auto;
    display: flex;
}

.ItkTabsWidget{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.ItkTabLabel{
    border: solid 2px var(--default-highlight-color);
    border-radius: 5px 5px 0 0;
    margin-top: 1px;
    display: inline-block;
    padding: 0.1em;
}

.ItkTabLabelSpacer{
    display: inline-block;
    width: 2px;
    border-bottom: solid 2px var(--default-highlight-color);
}

.ItkTabLabelSpacer:last-child{
    flex-grow: 1;
}

.ItkActiveTabLabel{
    border-bottom: 0;
}

.ItkTabLabelWidgetsContainer{
    overflow-x: auto;
    display: flex;
}

.ItkLogContainer{
    font-family: var(--default-log-font-family);
    font-size: var(--default-log-font-size);
    overflow-y: auto;
    max-height: 20em;
    padding-left: 0.6em;
    user-select: text;
    cursor: text;
}

.ItkLogContainer > *{
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}


/*File tree widgets*/
.ItkFolderWidget{
    user-select: none;
}

.ItkFolderWidget summary, .ItkFileWidget{
    background-color: white;
    color: black;
    cursor: default;
    padding-left: 0px;
}

.ItkFolderWidget .ItkExpandFolderWidget{
    cursor: pointer;
}

.ItkFolderWidget summary{
    list-style: none;
    display: flex;
}

.ItkFolderWidget summary.ItkFsNodeName{
    flex-grow: 1;
}

.ItkFileWidget{
    margin-bottom: 1px;
    margin-top: 1px;
}

.ItkSelected{
    filter: invert(1);
}

.ItkFolderWidget, .ItkFileWidget{
    margin-left: 10px;
}

.ItkFolderWidget summary::before, .ItkFileWidget::before{
    content: "├";
}

.ItkFolderWidget:last-child summary::before, .ItkFileWidget:last-child::before{
    content: "└";
}
/*END File tree widgets*/

.ItkListWidget{
    border-collapse: collapse;
}
.ItkListWidgetRow > td{
    border-bottom: solid 1px var(--default-highlight-color);
}

.ItkListWidget{
    font-size: calc(var(--default-font-size) - 2px);
}

.ItkDatasourcesListContainer{
    max-height: 10em;
    overflow: auto;
}

.ItkLaneWidget{
    padding: 0.3em;
    border: solid 1px var(--default-highlight-color);
    border-bottom: none;
    margin-left: 1em;
}

.ItkLaneLayerName{
    font-size: calc(var(--default-font-size) - 1px);
    padding-left: 2em !important;
    font-style: italic;
}

.ItkSessionManagementAdvancedOptions{
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: solid 1px grey;
    background-color: rgba(0,0,0,0.1);
}
.ItkSessionManagementAdvancedOptions > summary{
    margin-left: 0;
}
.ItkSessionManagementAdvancedOptions > *{
    margin-left: 1em;;
}

.ItkHelpTextHeading{
    font-weight: bold;
}

.ItkHelpVideo{
    border-radius: 7px;
    border: solid 3px var(--default-highlight-color);
    margin: 1em;
    max-width: 800px;
}