# based off of nginx.service
#
# Stop dance
# ==========
#
# ExecStop sends SIGSTOP (graceful stop) to the process.
# If, after 5s (--retry QUIT/5) nginx is still running, systemd takes control
# and sends SIGTERM (fast shutdown) to the main process.
# After another 5s (TimeoutStopSec=5), and if nginx is alive, systemd sends
# SIGKILL to all the remaining processes in the process group (KillMode=mixed).
#
# nginx signals reference doc:
# http://nginx.org/en/docs/control.html
#
[Unit]
Description=Webilastik session allocator server
Documentation=https://github.com/ilastik/webilastik
Wants=nginx.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
# FIXME/BUG: aiohttp must be told where certs are when running from packed environment
Environment=SSL_CERT_DIR=/etc/ssl/certs/
Environment=REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt

Environment=PYTHONPATH=/opt/webilastik/
ExecStart=/opt/webilastik/conda_env/bin/python3 -B /opt/webilastik/webilastik/server/session_allocator.py \
    --session-launcher=JUSUF \
    --external-url=https://app.ilastik.org/ \
    --oidc-client-json=/etc/webilastik/oidc_client.json \

TimeoutStopSec=30
KillMode=mixed
Restart=on-failure
User=www-data
Group=www-data
KillSignal=SIGQUIT
NotifyAccess=all

[Install]
WantedBy=multi-user.target
